.formulario {

    width: 90%;
    margin: auto;
    margin-top: 1rem;
    
    display: flex;
    flex-direction: column;
}


.create-title{
    text-align: center;
    margin: 1.7rem 3rem;
    margin-bottom: 1rem;
}
.create-p {
    text-align: center;
    font-size: 1.4rem
}

.inputForm {
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid rgb(130, 126, 126);
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    width: 100%;
}

.buttonForm {
    padding: 10px;
    border-radius: 10px;
    
}
.button1{
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(80, 170, 80);
    color: white;
    font-size: 1.3rem;
}
.button2{
    
    margin-bottom: 2rem;
    font-size: 1.3rem;
    background-color: rgb(236, 234, 224);
    
    
}
